<!--עמוד צור קשר-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cook Master - Contact Us</title>
    <link rel="stylesheet" href="../CSS/contact.css">
</head>
<body>
   <!-- Header -->
    <header>
        <div class="logo">
            <img src="../images/logo.jpg" alt="Cook Master Logo">
        </div>
        <nav>
            <ul>
                <li><a href="../../pages/index/templates/index.html">Home</a></li>
                <li><a href="../HTML/workshops.html">Workshops</a></li>
                <li><a href="../HTML/signup.html">Sign Up</a></li>
                <li><a href="../HTML/login.html">Login</a></li>
                <li><a href="../HTML/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="contact-container">
            <div class="contact-header">
                <h2>Contact Us</h2>
            </div>
            <form class="contact-form">
                <label for="name">Full Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <span class="error-message"></span>

                <label for="phone">Phone Number:</label>
                <input type="tel" id="phone" name="phone" required>
                <span class="error-message"></span>

                <label for="message">How can we help you?</label>
                <textarea id="message" name="message" rows="4" required></textarea>



                <button type="submit">Submit</button>
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Cook Master. All rights reserved.</p>
    </footer>
     <!-- חיבור קובץ ה-JavaScript -->
    <script src="../JS/contact.js"></script>
</body>
</html>
