<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workshop Details</title>
    <link rel="stylesheet" href="../CSS/workshop-detailes.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">
            <img src="../images/logo.jpg" alt="Cook Master Logo">
        </div>
        <nav>
            <ul>
                <li><a href="../../../templates/HTML/index.html">Home</a></li>
                <li><a href="../../workshops/templates/workshops.html">Workshops</a></li>
                <li><a href="../../../templates/HTML/signup.html">Sign Up</a></li>
                <li><a href="../../../templates/HTML/login.html">Login</a></li>
                <li><a href="../../../templates/HTML/contact.html">contact</a></li>
            </ul>
        </nav>
    </header>



    <!-- Main Content -->
    <main>
        <section id="workshop-details"></section>
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Cook Master. All rights reserved.</p>
    </footer>

 <!-- חיבור קובץ ה-JavaScript -->
    <script src="../JS/workshop-details.js"></script>

</body>
</html>
